.d-grid{
    display: grid;
}
.imp-cs-ex{
    grid-gap: 30px;
    grid-template-columns: 100px;
}
.auto-flow-grid{
    grid-template: 1fr 1fr 1fr/1fr 1fr;
    grid-auto-flow: column;
}
.hw-1{
    grid-template: 1fr/repeat(auto-fit,25%);
}
.hw-2{
    grid-template: 1fr/repeat(auto-fill,25%);
}
.hw-3{
    grid-template: 1fr/repeat(auto-fit,minmax(50px,25%));
}