footer.footer-container
        .info
            span sdakdamdlamdlkamldmsaldmaskldmaklsmdla
        .contacts
            .phone 213123
            .email asdas@dsasa.sd
        .copyright
            p @copyright
