header.header
    .header_top
        .container
            .contacts
                a.contact(href="tel:+996337148148")
                    i.fas.fa-mobile.contact_icon(aria-hidden="true")
                    span.contact_text 996337148148
                a.contact.contact-icon(href="mailto:info@business.com")
                    i.fas.fa-envelope-square(aria-hidden="true")
                    span.contact_text info@business.com
                a.facebook-icon(href="facebook.com")
                    i.fas.fa-facebook
    .container
        .header_bottom
            .logo
                img.logo_picture(src="img/logo.png" alt="logo_picture")
            nav.nav
            - var items = ['Home','About us','Our Aproach','Our WOrk']
                each item in items
                    if item ==='Home'
                        a.nav_link.nav_link-active(href="#")=item
                    else
                        a.nav_link(href="#")=item
                a.button.header_button.button-red(href="#") Free Consulation